<h1>Voila here we go</h1>
{% schema %}
{
  "name": "Liquid Refernce",
  "tag": "section",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "liquid-ref",
      "label": "ref"
    }
  ],
   "presets":[
    {
    "name": "Welcome section Test",
    "category": "ADVANCED LAYOUT"
    }
  ]
}
{% endschema %}
